html, body, #root, #root > div {
    height: 100%;
}

.behaviour-editor {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;
    height: 100%;
    box-sizing: border-box;
    background-color: #eee;
    padding: 25px;
}


.behaviour-editor > .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
