.select-project-option {
    padding: 7px 10px;
    font-size: 17px;
    border-radius: 3px;
    color: #555;
    cursor: pointer;
}

.select-project-option:hover {
    background-color: #eee;
}

.select-project-option:not(:last-child) {
    margin-bottom: 3px;
}

.select-project-option.selected {
    background-color: #0094cb;
    color: #fff;
}